# General
.DS_Store

# Python specific

# Byte-compiled / optimized / DLL files
feature/__MACOSX/*
feature/__pycache__/*
feature/*.py[cod]
feature/*$py.class
feature/.vs/*

# Distribution / packaging
feature/.Python
feature/build/
feature/develop-eggs/

# Flask :
feature/instance/
feature/.webassets-cache
