global
        maxconn 512
        spread-checks 5

defaults
        mode http
        log global
        monitor-uri /_haproxy_health_check
        option log-health-checks
        option httplog
        balance roundrobin
        option forwardfor
        option redispatch
        retries 4
        option http-server-close
        timeout client 150000
        timeout server 3600000
        timeout connect 500

        stats enable
        stats uri /_haproxy_stats

frontend http-in
         bind *:{{ ha_proxy_port_couchdb }}
         default_backend couchdbs

backend couchdbs
        option httpchk GET /_up
        http-check disable-on-404
        {% for server_ip in servers_to_deploy %}
server couchdb{{ loop.index }} {{ server_ip }}:{{ ha_proxy_port_couchdb }} check inter 5s
        {% endfor %}