{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>The hard work was done during the quarantine period by all these heros...... and heroine</h1>
        <p class="lead">presented by Forever_33</p>
    </div>
    <div>
        <div class="row border-top">
            <div class="col-lg-12">
                <h1>Group 33 (Forever_33)</h1>
                <img class="group-img-size" src="img/group33photo.png" />

            </div>
            <div class="col-lg-12">
                <p>
                    <br />
                    Despite of the hardship to meet together due to Covid-19 Pandemic, a group of young, passionate, determined heros (& heroine) decided to conquer the limitation to propose a great insight
                    on gig economy, by creating this web application to satisfy the curiosity of the community.
                    The hard work behind this project including setting up cloud system using
                    <strong>ansible, Melbourne Nectar Cloud, docker</strong>, data harvesting using <strong>Twitter API</strong>, web application
                    development using <strong>Flask.</strong>
                </p>
                <p>Total hardwork sowed in: <strong>734.33 hours</strong></p>
            </div>
        </div>
        <div class="row border-top">
            <div class="col-lg-7 border-right">
                <h1>Shorye</h1>
                <img src="img/Shorye.png" />
            </div>
            <div class="col-lg-5 pt-3 md-fontsize">
                <ul>
                    <li>Main Infrastructure Engineer</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row border-top">
            <div class="col-lg-7 border-right">
                <h1>Rohan</h1>
                <img src="img/Rohan.png" />
            </div>
            <div class="col-lg-5 pt-3 md-fontsize">
                <ul>
                    <li>Main Infrastructure Engineer</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row border-top">
            <div class="col-lg-7 border-right">
                <h1>Feng</h1>
                <img src="img/Feng.png" />
            </div>
            <div class="col-lg-5 pt-3 md-fontsize">
                <ul>
                    <li>Twitter Harvester Developer</li>
                    <li>Front End Developer</li>
                    <li>Integrating tweepy to twitter harvester</li>
                    <li>Bug fixing for twitter harvester</li>
                    <li>Setting up MVC structure for web application</li>
                    <li>Deployment of Web Application</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row border-top">
            <div class="col-lg-7 border-right">
                <h1>Alvin</h1>
                <img src="img/Alvin.png" />
            </div>
            <div class="col-lg-5 pt-3 md-fontsize">
                <ul>
                    <li>Twitter Harvester Developer</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row border-top">
            <div class="col-lg-7 border-right">
                <h1>Yun</h1>
                <img src="img/Yun.png" />
            </div>
            <div class="col-lg-5 pt-3 md-fontsize">
                <ul>
                    <li>Twitter Harvester Developer</li>
                    <li>Setting up structure for web application</li>
                    <li>Deployment of Web Application</li>
                    <li>Resolve Problems</li>
                </ul>
            </div>
        </div>
        <br />


    </div>
{% endblock %}
