<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forever_33</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="img/33.png">
    <link rel="stylesheet" href="content/gigeco.css" />
    <link rel="stylesheet" href="/content/sentiment.css" type="text/css"/>
</head>
  <body>
      {% include 'includes/_navbar.html' %}
      <div class="container">
          {% include 'includes/_messages.html' %}
          {% block body %}{% endblock %}
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
