{% extends 'layout.html' %}

{% block body %}
<br>
<div class="body_text"> 
    <h1 class="h1_text">Is Tweets Sentimental Value Directly Related to The Unemployment Rate <strong>?</strong></h1>
    <br>
    <br />
    <div class="intro_border">
        <p>
            Usually, when someone is unemployed, they will feel frustrated and post their feelings on Twitter to rant.
            A question that follows is "Is there a relationship between the unemployment rate and the emotions in the tweet?". 
            To find out, we will analyze the correlation between tweet sentiment and unemployment rate.
        </p>
    </div>
    <ul class="remove_dot">
        <h2 class="h2_text"><li>Unemployment Rate in 2018</li></h2>

        <p class="p_text">
            In 2018, the unemployment rate in 'Western Australia', 'South Australia', 'Victoria', 'Qeensland' 
            and 'New South Wales' 5 states is showing below. 
            The data set was found on AURIN and it only contained the unemployment rates of these 5 states.
        </p>

        <div class="div_block">
        <image class="display_png" src="/img/unemployment_rate.png" height="350" width="500"/>
            <p class="p_text">
                From the bar chart, we notice that in 2018, 'Western Australia' had the highest unemployment rate, while 
                'New South Wales' had the lowest unemployment rate.
            </p>
        </div>

        <br>
            <h2 class="h2_text"><li>Sentiment of GIG Economy</li></h2>
            <p class="p_text">
                After analyzing all the tweet texts, we collected sentiment scores for each text, 
                then aggregated the sentiment score by states. The sentiment score for each state was shown in the bar chart below: 
                the range of the score is (-1,1), where '-1' means have strong negative emotions, '1' means have strong positive emotions.

            </p>   

        <div class="div_block">
            <image class="display_png" src="/img/sentiment.png" height="350" width="500" />
                
            <p class="p_text">
                The chart shows that 'Tasmania', 'South Australia' and 'Western Australia' have more positive emotions towards GIG economy 
                than the other 4 state. The people in "Victoria" has an almost neutral attitude towards GIG economy. 
                Overall, in Australia, <strong>people are optimistic about the GIG economy</strong>.
            </p>
        </div>

        <br>
        <h3 class="h2_text"><li>Sentiment of GIG Economy in 2018</li></h3>
        <p class="p_text">
            By selecting all the sentiment scores in 2018 and then grouping them by state, we get the following graph.
        </p>
        
        <div class="div_block">
            <image class="display_png" src="/img/sentiment2018.png" height="350" width="500"/>
            
            <p class="p_text">
                The chart shows that Tasmania has the most positive attitude towards the GIG economy,
                Other states are almost neutral on the GIG economy.
            </p>

        </div>

        <br>
        <h2 class="h2_text"><li>Is There a Relationship Between Emotions and Unemployment?</li></h2>

        <div class="div_block">

            <image class="display_png" src="/img/comparing.png" height="350" width="500"/>
            <p class="p_text">
                The graph shows that there is no clear relationship between sentiment in the gig economy and unemployment rate.
                However, we noticed that people who are in the state that has an unemployment rate lower than 4.5%, 
                is more optimistic about the gig economy than the people in the other state with unemployment rates over 5.5%.
            </p>

        </div>

        <br>
        </br>
        <br>
        </br>
    </ul>
</div> 

        {% endblock %}

