{% extends 'layout.html' %} {% block body %}

<div class="jumbotron text-center top-space">
  <h1>I hope you enjoy the website experience so far!</h1>
</div>

<div>
  <div class="row form-group border-top">
    <div class="col-lg-12">
      <h2>Here, we will go into the analysis of the topic: Do states where there is a higher <strong>working age or elderly population</strong></population> have a <strong><em>negative</em> sentiment value</strong>. 
      </h2>
      <h3><strong>Note:</strong> The sentiment value will be based on a certain gig economy company that you are able to choose later.
      </h3>
    </div>
  </div>
</div>

<div>
  <div class="row form-group border-top">
    <div class="col-lg-12">
      <h3>First, we learn about the age distribution of population through the median age in each state. The reason why median is chosen for this observation is because it summarises the age midpoint of such big population to give us a basic knowledge of which state has relatively more working age and older people.</h3>
      <img src="{{median_age_path}}" />
      <h3>From the bar chart above, we can see that South Australia and Tasmania have a higher median age which are 41.7 and 42 respectively whereas Northern Territory has 32.2 median age which is the lowest among all of the states in Australia.</h3>
    </div>
  </div>
</div>

<div>
  <div class="row form-group border-top">
    <div class="col-lg-12">

      <h3>Next, we look at the population of working age and elderly people in each state</h3>

      <div class="row">
        <div class="column">
          <img src="{{wa_pop_path}}" />
        </div>
        <div class="column">
          <img src="{{elderly_pop_path}}" />
        </div>
      </div>

      <h3>From the working age population and elderly population figures above, we can see that it gives similar result through using median, i.e, South Australia and Tasmania have highest percentage of elderly whereas Northern Territory has the lowest elderly population</h3>

    </div>
  </div>
</div>

<div>
  <div class="row form-group border-top">
    <div class="col-lg-12">

      <h3>Now, it is time to observe how the Twitter data regarding the <strong>sentiment value (positive or negative)</strong> based on a certain gig economy company correlates with the working age and elderly population in each states</h3>

      <form action="/sentiment_pop" method="post" class=col-lg-12" >
        <div class="col-lg-10">
          <select class="form-control" name="keyword" onchange="this.form.submit()">
            <option value="" selected>Select a keyword</option>
            <option value="uber">Uber</option>
            <option value="airbnb">Airbnb</option>
          </select>
          </select>
        </div>
        <div>
          <img src="{{keyword_sentiment_path}}" alt="waiting for input...">
        </div>
      </form>
<!-- 
      <div class="col-lg-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
