{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center top-space">
    <h1>Popularity of Gig Economy Based Businesses</h1>
    <p class="lead">presented by Forever_33</p>
</div>

<div>

    {% if session.logged_in == NULL %}
    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <img src="{{ overall }}" alt="Image" height="500" width="500" />
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                Using the Twitter data, the most popular keyword or business related to
                a gig economy was extracted and analysed. We can see that Uber is by far and away
                the most popular topic, followed closely by Etsy and AirBnB. If we take a closer look
                at which businesses are popular in which state, we can note some interesting results.
            </p>
        </div>

    </div>
    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <img src="{{ vic_fp }}" alt="Image" height="500" width="500" />
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                Victoria's most popular gig economy related business is Uber by far. Spurred along by Melbourne's thriving technology scene,
                Uber arrived in Melbourne very early and immediately took off. It then proceeded to implement a food delivery business that too did very well.
                It is also worth noting that Victorian tweets, along with NSW, encompass the most gig economy based businesses. Given the artistic value that Melbourne's
                multicultural population brings, it makes sense that Etsy is so high in the list. Given Victoria's proximity to other states and its appeal to businesses
                we can see why ebay is lagging behind, with most things available in Victoria or nearby.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ nsw_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                NSW also sees Uber as its top performing business. Interestingly, AirBnB is second best unlike Victoria. This is because of Sydney and its status as an
                iconic tourist destination in the world, with many flocking to see the Opera House and the Sydney harbour bridge among other things. Etsy is once again
                prominent given Sydney's international population and thriving art scene. Airtasker is also highly tweeted about, surprisingly. This is most likely due to
                the higher population that NSW has on offer and a lower average income, with people more willing to perform tasks for a bit of money. Deliveroo continues to
                be the most popular food delivery brand behind Uber.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ wa_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                WA corroborates the overall results. Uber is the highest followed closely by Etsy and then AirBnB. The number of businesses tweeted about in WA
                is much lower than NSW and Victoria. This is most likely due to the lower population levels and a lack of international exposure that WA has. Gumtree is
                relatively quite popular in WA, more so than Ebay. AirBnB is also quite popular due to the tourism destinations such as Margaret River and Perth in the south.
                Also worth noting is that MenuLog is more popular here than Deliveroo.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ nt_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                Northern Territory is known for its rurality and lack of population density, with a vast majority of it covered in desert. Despite that, the
                presence of tourism hotspots such as the Uluru mean that AirBnB is utilised. There are also a few tweets on Ebay, which given it's remoteness, is not surprising.
                Uber is yet again the most popular business. Also worth noting is the absence of Etsy which is surprising given its remoteness.
                This dataset is quite limited however, due to the presence of barely 8 tweets, this suggests that NT is quite unaccepting of the gig-economy and perhaps
                cannot sustain it given its population.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ sa_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                South Australia paints the same picture as most of the other states. The presence of Uber, Ebay, Etsy and AirBnB are prominent yet again. Interestingly,
                it is the smaller businesses where we see a relative spike. RedBubble, Stellar and the appearance of PawShake, a pet sitter marketplace, are noteworthy.
                It is the only state to have tweeted about PawShake. In SA, Ebay outranks Etsy, suggesting that South Australian people prefer product services over
                artistic creations. Given its relatively low tourism appeal, it is unsurprising that AirBnB is low on its list. Menulog far outperforms other food delivery
                services in South Australia.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ qld_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                Queensland is again similar to the other states. It is more representative of the overall Australian results. Uber comfortably high in popularity followed by Etsy.
                It is extremely surprising that AirBnB is not more prominent given the extensive beaches and fantastic tourism sites that Queensland offers. Perhaps a traditional hotel
                business is more sustainable given the lower population levels. It is even more surprising when you consider that it is only one of two states, the other being Victoria, to have tweeted
                about HomeTime, a property management business for AirBnB properties. The rest of the businesses are quite similar to the rest of Australia and suggest a somewhat common
                pattern among the Australian people for their selection of gig-economy based businesses to utilise.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ tas_fp }}" alt="Image" height="500" width="500" />

            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                Tasmania's most popular gig related business is Etsy, followed closely by airbnb, ebay and uber. Interestingly, it is the only state in Australia
                where Etsy is the most popular. Despite a lower number of tweets for Etsy among other states, relatively it is the highest. This could mean that
                artists in the gig economy tend to do much better than other employment opportunities. Due to the lower population rates, it is possible that Uber
                is not widely utilised. Given its remoteness to the rest of Australia, it does make sense that online marketplace sites like Etsy and Ebay do well
                in Tasmania, while its scenic locations provide great opportunities for AirBnB hosts too.
            </p>
        </div>
    </div>

    <div class="row form-group border-top">
        <div class="col-lg-6 border">
            <figure>
                <img src="{{ act_fp }}" alt="Image" height="500" width="500" />
            </figure>
        </div>
        <div class="col-lg-6 border section-height">
            <p>
                ACT has a very low population density. Apart from being the nation's capital territory, the ACT is mainly a tourism destination with people flocking to see the
                parliament buildings and its well-designed architecture, resulting in AirBnB being its most common tweet. Again, its remoteness may have lead to Uber being high
                on the list, but there doesn't seem to be much scope for artists, with Etsy not performing so well. Food delivery services are also quite rare in tweets, which
                is possibly due to the lower population and hence lower demand.
            </p>
        </div>
    </div>


    {% endif %}
    <div class="col-lg-12 bottom-space"></div>

</div>

{% endblock %}
