{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center top-space">
    <h1>Popularity of Gig Economy Based Businesses</h1>
    <p class="lead">presented by Forever_33</p>
</div>

<div>
    <div class="row form-group border-top">
        <div class="col-lg-12">
            <h1></h1>
            <div class="pt-3">
                <p>Have you ever heard of 'gig economy'? If you never heard of it, <strong>you are at the right place!</strong></p>
                <p>A gig economy is a <strong>free market system</strong> in which temporary positions are common and organizations hire independent workers for short-term commitments.</p>
                <p>Some examples of gig economy jobs including: <strong>Uber, Hungry panda, Free lancer... and even more! </strong></p>
                <p>Here is the time for us to help <strong>you</strong> to explore the wonderful land of gig economy in Australia!</p>
                <p>First, allow us to show you the result that shows the <strong>count of tweets related to Gig Economy in states of Australia!</strong></p>
            </div>
        </div>
    </div>

    {% if session.logged_in == NULL %}
    <div class="row form-group border-top">
        <br /><br />
        <div class="col-lg-7 border">
            <img src="{{ path }}" />
        </div>
        <div class="col-lg-5">
            <h2>AMAZING HUH? </h2>
            <p>As we see that in the state of Australia, there are most of the people who tweet of gig economy! </p>
            <p>Interesting enough, although New South Wales has 2.3M populations more than Victoria, Victoria still has the <strong>higher number of tweets related to gig economy compared to New South Wales!</strong>!</p>
            <p>We can make an assumption that maybe <strong>gig economy activity in Victoria has been conducted more frequently than other states.</strong></p>
            <br />
            <p>Furthurmore, as we look into details, it is not hard to find that <strong>only a few of people actually tweet of gig economy in Northern Territory.</strong></p>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
       
    {% endif %}
   
</div>

{% endblock %}
